<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body class="container-fluid">
        <h1>Infer</h1>
        <img src="{{ url_for('static', filename='img/test.png') }}" class="img-fluid d-block py-2" width="320" height="240">
        <button type="button" class="btn btn-primary" id="start">Start</button>
        <button type="button" class="btn btn-success" id="capture">Capture</button>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
        <script>
            const startBtn = new bootstrap.Button("#start");
            const captureBtn = new bootstrap.Button("#capture");

            console.log(startBtn);
            console.log(captureBtn);
        </script>
    </body>
</html>
