<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Deteksi Daun Tomat</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous" />
    <style>
      .image-container {
        width: 320px;
        height: 240px;
      }
    </style>
  </head>
  <body class="container-fluid">
    <h1>Infer</h1>
    <div class="image-container border my-2 text-center">
      <span id="displayMsg">Press start to display camera</span>
      <img src="" class="img-fluid" id="streamDisplay" crossorigin="anonymous" />
    </div>
    <button type="button" class="btn btn-primary" id="start">Start</button>
    <button type="button" class="btn btn-success" id="capture">Capture</button>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <script>
      const url = "{{ camera_url }}";
      let displayMsg = document.querySelector("#displayMsg");
      let streamDisplay = document.querySelector('#streamDisplay');
      let startBtn = document.querySelector('#start');
      let captureBtn = document.querySelector("#capture");
      let canvas = document.createElement("canvas");
      let ctx = canvas.getContext("2d", { willReadFrequently: true });
      let streamRunning = false;

      canvas.width = 320;
      canvas.height = 240;

      console.log(canvas);

      startBtn.addEventListener('click', event => {
        streamRunning = !streamRunning;
        if (streamRunning) {
          displayMsg.classList.add('d-none');
          //captureBtn.classList.remove('d-none');
          startBtn.innerHTML = "Stop";
          streamDisplay.src = url + "/stream";
        }
        else {
          displayMsg.classList.remove('d-none');
          //captureBtn.classList.add('d-none');
          startBtn.innerHTML = "Start";
          streamDisplay.src = "";
        }
      });

      captureBtn.addEventListener('click', async event => {
        ctx.drawImage(streamDisplay, 0, 0);
        let imgData = ctx.getImageData(0, 0, 320, 240);
        console.log(imgData);

        captureBtn.setAttribute("disabled", "");

        const result = await fetch(`http://localhost:5000/infer`, {
          method: "POST",
          cache: "no-cache",
          headers: {
              "Content-Type": "application/*",
          },
          body: imgData.data
        });

        captureBtn.removeAttribute("disabled");
        console.log(await result.json());
      });

      console.log(url);
    </script>
  </body>
</html>
